body{
   overflow: hidden;
   position: relative;
}
.loginbox{
    width: 500px;
    /* margin: 200px auto 0; */
    background:#df4949;
    height: 300px;
    position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
}
h2{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.col-sm-10{
    width: 300px;
}
.col-sm-2 {
    margin-left: 40px;
}
.btn{
    position: absolute;
    left: 50%;
    top: 75%;
    margin-left: -27px;
}